<!DOCTYPE html>
<html>

<head>
        <% include ../partials/head.ejs %>
</head>

<body>
    <h1>Kicks Stock Main Shop Page</h1>
    <nav>
        <a href="/kicks/new">Sell your sneakers on Kicks Stock!</a>
    </nav>
    <ul>
<% for(let i = 0; i < kicks.length; i++){ %>
        <li>
           The <%=kicks[i].productname; %> <br>
           <br>
            is <%=kicks[i].description; %> <br>
            <br>
            price: $<%=kicks[i].price; %> <br>
            <br>

            <% if(kicks[i].inStock === true){ %>
            It is ready to new
            <% } else { %>
                is used 
            <% } %>
        </li>
                <!-- START OF BUY BUTTON -->

                <form class="button" action="/kicks/shop<%=kicks[i].id%>/buy?_method=PUT" method="POST"> <input type="submit" value="BUY">
                </form>
        
                <!-- END OF BUY BUTTON ADDED -->
        
                <!-- START OF TRADE BUTTON -->
        
                        <form class="button" action="/kicks/shop<%=kicks[i].id%>/trade?_method=PUT" method="POST"> <input type="submit" value="TRADE">
                        </form>
                        
                <!-- END OF TRADE BUTTON ADDED -->

      <!-- DELETE REQUEST TO THE CORRECT ROUTE AND DELETE BUTTON START HERE. FORM ACTION SHOULD BE INSIDE/COMBINED WITH REQUEST --> 

    </ul>
    <% } %>
</body>

</html>