<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <nav>
        <% include ../partials/nav.ejs %>
    </nav>

    <style>
            .header {
                background-image: url(../images/adidas-Yeezy-Boost-350crop.png);
                margin-top: -7.5%;
               background-size: cover, 100%;   

            }     

            .header_text {
                margin-top: 7%;
                padding-top: 10%; 
            }
                </style>

    <div class="header "  position="relative" >
    <div class="header_text white-text center" position="absolute">
        <h1>Kick Stock</h1>
    
    <h5 class="white-text">The official limited edition sneaker reselling platform for sneaker heads</h5>
</div> 
    </div>
<br>

    <!-- START OF CONTAINER DIV -->
<div class="container">

    <h4 class="center blue lighten-3 white-text">Today's Top Picks</h4>

<!-- START OF CARD FOR LOOP-->

<div class="row">       
        <% for(let i = 0; i < kicks.length; i++){ %>
            <div class="col s12 m4">
                  <div class="card">
                    <div class="card-image" style="height: 300px">
                    <img src="<%=kicks[i].img; %>">
                    </div>
                    <div class="card-content center">
                        <ul>
                            <li>
    <a href="<%=kicks[i].id; %>"<p class="flow-text"> <%=kicks[i].productname; %> </a></p> <br> <br>
       
    price: $<%=kicks[i].price; %> <br> <br>
    
    available units: <%=kicks[i].qty; %> <br> <br>
    
    <% if(kicks[i].deadStock === true){ %>
    New: deadStock
    <% } else { %>
    Condition: New
    <% } %>
                            </li>
                        </ul>
                    </div>
    <div class="card-action">  
        
<!-- START OF BID BUTTON -->
<br>
<div class="row">
<div class="col"><form class="button" action="/kicks/shop<%=kicks[i].id%>/bid?_method=PUT" method="POST">
    <button class="btn blue" type="submit" value="BID">BID</button>
</form></div>

<!-- START OF BID BUTTON -->

<!-- START OF BUY BUTTON -->

<div class="col"><form class="button" action="/kicks/shop<%=kicks[i].id%>/buy?_method=PUT" method="POST">
    <button class="btn green" type="submit" value="BUY">BUY</button>
</form></div>

<!-- END OF BUY BUTTON -->

<!-- START OF TRADE BUTTON -->

<div class="col"><form class="button" action="/kicks/shop<%=kicks[i].id%>/trade?_method=PUT" method="POST">
    <button class="btn blue" type="submit" value="TRADE">TRADE</button>
</form></div>
</div>
<!-- END OF TRADE BUTTON -->

        </div>
        </div>
        </div>
        
    <!-- END OF BODY CONTAINER -->
    <% } %>
    </div>
    
            </div>


</body>

</html>