<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head.ejs %>
</head>

<body>
    <nav>
        <% include ../partials/nav.ejs %>
    </nav>


    <!-- START OF BODY CONTAINER -->

    <div class="container ">

        <h3 class="grey-text text-darken-3">Kicks Stock Seller Inventory Page</h3>

    <div class="row">       
    <% for(let i = 0; i < kicks.length; i++){ %>
        <div class="col s4">
              <div class="card red" style="color: blue">
                <div class="card-image" style="height: 200px">
                  <img src="<%=kicks[i].img; %>">
                  <span class="card-title black-text bold"></span>
                </div>

                <div class="card-content center">
                    <ul>
                        <li>
                            <p class="flow-text"> <%=kicks[i].productname; %> </p>
                            <p class="flow-text">is <%=kicks[i].description; %> </p>
                            price: $<%=kicks[i].price; %> <br>
                            <br>

                            available units: <%=kicks[i].qty; %> <br>
                            <br>
                            <% if(kicks[i].deadStock === true){ %>
                            New: Deadstock
                            <% } else { %>
                            Used
                            <% } %>
                        </li>
                    </ul>

                </div>
<div class="card-action">  

<!-- START OF ADD SKU BUTTON -->
<a href="/kicks/new">
<button class="btn blue">Add SKU</button></a>
<br> <br>

<a href="/kicks/<%=kicks[i].id; %>/edit"> <button class="btn blue">Edit SKU</button></a><br> <br>

<form action="/kicks/<%=kicks[i].id; %>?_method=DELETE" method="POST"> <button class="btn blue" type="submit"
    value="DELETE">DELETE</button>
            </form>
    </div>
    </div>
    </div>
    



<!-- END OF BODY CONTAINER -->
<% } %>
</div>

        </div>


    <!-- MOBILE MENU DROPDOWN INITIALIZER -->


    <!-- END OF MOBILE MENU DROPDOWN INITIALIZER -->

</body>

</html>