<!DOCTYPE html>
<html>
    <head>
            <% include ../partials/head.ejs %>
    </head>
    <body>

<nav>
        <% include ../partials/nav.ejs %>
</nav>

    <!-- START OF CONTAINER DIV -->
    <div class="container">

        <h4 class="center blue lighten-3 white-text">Product Detail</h4>
    
    <!-- START OF CARD FOR LOOP-->
    
    <div class="row">       

                <div class="col s12 m12 offset-3">
                      <div class="card">
                        <div class="card-image">
                        <img src="<%=kicks.img; %>">
                          <span class="card-title black-text bold"></span>
                        </div>
                        <div class="card-content center">
                            <ul>
                                <li>
        <p class="flow-text"> <%=kicks.productname; %> </p>
        <p class="flow-text">is <%=kicks.description; %> </p>
        price: $<%=kicks.price; %> <br>
    <br>
    available units: <%=kicks.qty; %> <br>
        <br>
    <% if(kicks.inStock === true){ %>
                                    New: Deadstock
                                    <% } else { %>
                                    Used
                                    <% } %>
                                </li>
                            </ul>
                        </div>
        <div class="card-action"> 
        <br> 
            
    <!-- START OF BID BUTTON -->
    <div class="row ">
    <div class="col"><form class="button" action="/kicks/shop<%=kicks.id%>/bid?_method=PUT" method="POST">
        <button class="btn blue" type="submit" value="BID">BID</button>
    </form></div>

    <!-- START OF BID BUTTON -->
    
    <!-- START OF BUY BUTTON -->
    
    <div class="col"><form class="button" action="/kicks/shop<%=kicks.id%>/buy?_method=PUT" method="POST">
        <button class="btn green" type="submit" value="BUY">BUY</button>
    </form></div>
    
    <!-- END OF BUY BUTTON -->
    
    <!-- START OF TRADE BUTTON -->
    
    <div class="col"> <form class="button" action="/kicks/shop<%=kicks.id%>/trade?_method=PUT" method="POST">
        <button class="btn blue" type="submit" value="TRADE">TRADE</button>
    </form></div>
</div>
    <!-- END OF TRADE BUTTON -->
    
            </div>
            </div>
            </div>
            
        <!-- END OF BODY CONTAINER -->

        </div>

        <a href="/kicks"><button class="btn blue">Return to Home</button></a><br>
        <br>
        <br>
        
                </div>
    
    </body>
</html>